@mixin layout($percent: 50, $bgurl, $position: left, $bgsize: cover) {
  $offset: 0;
  $align: start;
  $bgposition: right;
  $templateFirstColumn: auto;
  $templateLastColumn: null;

  @if $position == right {
    $offset: 1;
    $align: end;
    $bgposition: left;
    $templateFirstColumn: null;
    $templateLastColumn: auto;

  }

  display: grid;
  grid-template-columns: $templateFirstColumn min(#{ $percent }%, (100% - 1440px) / 2 + #{ 1440px * $percent / 100 } - 10px) $templateLastColumn;

  @media screen and (max-width: 1264px) {
    & {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    grid-column-start: 2 - $offset;
    grid-column-end: 3 - $offset;
    grid-row-start: 1;
    background-size: $bgsize;
    background-position: center $position;
    background-image: url("#{ $bgurl }");

    @media screen and (max-width: 1264px) {
      & {
        margin-top: 10px;
        grid-column-end: 1;
        grid-row-start: 2;
        width: 100%;
        aspect-ratio: 16/9;
        background-position: center;
      }
    }
  }

  &__content {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-#{ $align };
    min-height: 500px;

    @media screen and (max-width: 1264px) {
      & {
        min-height: 0;
      }
    }

    &-wrapper {
      width: (100 - $percent) * 1%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-#{ $bgposition }: 20px;

      @media screen and (max-width: 1264px) {
        & {
          width: 100%;
          padding-#{ $bgposition }: 0;
        }
      }
    }
  }
}
